#checkButton{
    color: white;
    background-color: rgb(86, 108, 233);
    transition: all 0.2s ease-in-out;
    border-width: 0px;
    border-radius: 3px;
    width: 80px;
    height: 26px;
    font-size: 20px;
}
.pinkP{
    cursor: default;
}
#checkButton:hover{
    color: black;
    transform: scale(0.95);
    cursor: pointer;
}
#displayQuestion{
    font-size: 25px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 38, 38);
}
input{
    height: 25px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    border-width: 0px;
}
input:hover{
    border-width: 1px;
    border-color: black;
    cursor: pointer;
    width: 55%;
}
#title{
    color: white;
    font-size: 40px;
}
.sendButton{
    background-color:rgb(94, 194, 48);
    color: white;
    transition: all 0.2s ease-in-out;
    border-width: 0px;
    border-radius: 3px;
    width: 50%;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}
.sendButton:hover{
    color: black;
    transform: scale(0.95)
}
p{
    font-size: 20px;
}
#questionTurn, #answerTurn{
    font-size: 30px;
}
#bottomIMG{
    width: 100px;
    height: 100px;
}
